body{
    background-color:blanchedalmond;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: center;
}

h1, p{
    text-align: center;
}

p{
    margin-top: 30px;
}

.croissant-photo{
    border-radius: 10px;
    display: block;
    height: auto;
    margin: 60px auto;
    max-width: 50%;

}

.navigation-links{
    margin: 30px;
}

.navigation-links:visited{
    color: brown;
}

