body{
    background-color:blanchedalmond;
}

footer{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

p{
    margin-top: 30px;
    text-align: center;
}

.croissant-photo{
    display: block;
    height: auto;
    margin: 60px auto;
    max-width: 300px;

}

.navigation-links{
    margin: 30px;
}

.navigation-links:visited{
    color: brown;
}

